<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-interval="100">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/Pollution1.png" class="d-block w-100 img-shadow" alt="...">
        <div class="carousel-caption">
            <h5>OceanBees</h5>
            <p>Chaque année, entre 8 et 12 millions de tonnes de déchets déversées dans les océans.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/Pollution2.png" class="d-block w-100 img-shadow" alt="...">
        <div class="carousel-caption">
            <h5>OceanBees</h5>
            <p>En 2050, les océans contiendront plus de plastique que de poissons.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/Pollution3.png" class="d-block w-100 img-shadow" alt="...">
        <div class="carousel-caption">
            <h5>OceanBees</h5>
            <p>Un individu moyen pourrait ingérer jusqu'à 5 grammes de plastique chaque semaine.</p>
        </div>
      </div>
    </div>
  </div>
    <div class="content_home">
      <div class="col1">
        <img src="assets/img/bouteille_mer.jpg">
      </div>
      <div class="col2">
        <h3>Redonnons vie à nos océans</h3>
        <p>Chaque année, 8 à 12 millions de déchets sont rejetés dans les océans !
        <br>La faune marine est menacée (100 000 mammifères marins perdent la vie tous les ans à cause de la pollution plastique)
        et à ce rythme d'ici 2050 nos océans contiendront plus de plastique que de poissons !
        </p>
    </div>
  </div>
    <hr color="#000000">
    <div class="content_home">
      <div class="col1">
        <h3>Notre projet</h3>
        <p></p>
      </div>
      <div class="col2">
        <img src="assets/img/EpitechLogo.jpg">
        <video autoplay loop>
          <source src=".." type="video/mp4" />
        </video>    
      </div>
    </div>
    <hr color="#000000">
    <div class="content_home">
      <div class="col1">
        <img src="assets/img/EpitechLogo.jpg">
      </div>
      <div class="col2">
        <h3>Qui sommes-nous ?</h3>
        <p>Nous sommes un groupe de 11 étudiants en 3ème année à Epitech Toulouse.
        Nous sommes passionnés par les technologies et l’innovation.
        Pour notre projet de fin d’étude, nous souhaitons mettre nos compétences au service de l’avenir de la planète
        en nettoyant nos océans et en maintenant notre Terre propre. </p>
      </div>
    </div>
    <div id="align_button">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeiENLwS8DoOC9ZHlBEU5fSNeV-YD0vFGmZwE3cIxC8956z9w/viewform?usp=sf_link">
        <button class="button">Votre avis compte</button>
      </a>
    <div>